<!-- Angular Lifecycle -->
<div class="container">
    <input type="text" #input>
    <button (click)="OnSubmit(input)">Submit</button>
    <app-container [value]="inputText" *ngIf="destroy">
        <h4>This is projected content {{inputText}}</h4>
    </app-container>
    <br><br>
    <button (click)="DestroyComponent()">Destroy</button>
</div>
<br><br>
<!-- Templet driven form -->
<h1>Angular Templet Driven Form</h1>

<form #loginForm="ngForm" (ngSubmit) = "loginUser(loginForm.value)">
    <input type="text" name="name" placeholder="Enter Your Name" ngModel>
    <br> <br>
    <input type="password" name="password" placeholder="Enter Password" ngModel>
    <br> <br>
    <button>Login</button>
</form>
<button (click)="loginUser(loginForm.value)">outside Login</button>
<br><br>
<!-- Custom Component -->
<!-- <div>
    <app-container></app-container>
</div>
<br><br> -->
<!-- Custom Directive -->
<h1>Custom Directive in angular</h1>
<h1>Normal Heading</h1>
<h1 appCustomedirective>Custom Heading</h1>

